.container {
    text-align: center;
}

input, button, .results {
    height: 50px;
    font-size: 20px;
}

input {
    width: 500px;
    margin-top: 100px;
}

button {
    margin: 10px;
    background-color: rgb(7, 78, 7);
    color: white;
    width: 200px;
}

button:hover {
    background-color: rgb(116, 235, 61);
    color: rgb(50, 50, 50);
}